.classSchedule p {
    color: orange;
}

.classSchedule .card {
    margin-top: 10px!important;
    margin-left: 5%!important;
    align-items: center!important;
    padding-top: 10px!important;
    width: 40%!important;
    border: none!important;
    box-shadow: 5px 5px 10px lightgray!important;
    border-radius: 10px!important;
   
}
